{% extends "../main.html" %}

{% block title %}
    Malumot qo'shish
{% endblock title %}

{% block content %}

    <div class="data-bg">
        {% include '../widgets/sidebar.html' %}              
        <div class="main">
            <div class="tumanlar">
                <ul id="data">
                    <li><a href="{% url 'MBA' %}">Maktab Bitiruvchilari</a></li>
                    <li><a href="{% url 'KBA' %}">Kollej Bitiruvchilari</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'UBA' %}">Universitet Bitiruvchilari</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}