{% extends 'main.html' %}

{% block title %}
    School
{% endblock %}

{% block content %}
    <div class="background-table" >
            <div class="row mt-5">
            <div class="col-10 m-auto">
                {% include 'widgets/navbar.html' %}                
                <div class="table-box">
                    <table class="table">
                        <thead class="border-info">
                            <tr>
                            <th>#</th>
                            <th>F.I.SH</th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tuman & Shaxar
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Nurafshon sh</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Mahalalar
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Bobur MFY</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Maktablar №
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">26-maktab</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <!-- <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Kollej №
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Qibray moliya-iqtisodiyot kolleji</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        OTM nomi
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">O’zbekiston milliy universiteti</a></li>
                                        </ul>
                                    </div>
                                </th> -->
                                <!-- <th>Ish Joyi</th> -->
                                <th>Telefon raqam</th>
                                <th>Kun/Oy/Yil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in mk %}
                                <tr>
                                    <td>{{ i.pk }}</td>
                                    <td><a href="{% url 'ACV' %}">{{ i.f_name }}</a></td>
                                    <td>{{ i.tuman }}</td>
                                    <td>{{ i.mahalla }}</td>
                                    <td>{{ i.maktab }}</td>
                                    <!-- <td></td> -->
                                    <!-- <td>O’zbekiston milliy universiteti</td>
                                    <td></td> -->
                                    <td>{{ i.phone }}</td>
                                    <td>{{ t.sana }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

