{% extends 'main.html' %}

{% block title %}
    OTM_Enter
{% endblock %}

{% block content %}
    <div class="background-table" >
        <div class="row">
            <div class="col-10 m-auto">
                <h1 class="text-center my-1">Bitiruvchilar haqida malumotlar</h1>
                <nav class="navbar navbar-expand-lg my-4 bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-center top-nav">
                        <li class="nav-item ">
                            <a href="{% url 'T' %}" class="nav-link ">Hammasi</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'M' %}">Maktab</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'F' %}">OTM Bitiruvchilari</a>
                        </li>
                        <li class="nav-item active-li">
                        <a href="{% url 'E' %}" class="nav-link active">OTMga topshirganlar</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'H' %}" class="btn btn-outline-success">Diagrammada ko'rish</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success" id="OTM_T_Export" type="button" href="">Jadvalni yuklab olish</a>
                        </li>
                    </ul>
                    </div>
                </nav>
                <div class="table-box">
                    <table class="table">
                        <thead class="border-info">
                            <tr>
                                <th>#</th>
                                <th>F.I.SH</th>
                                <th>
                                    Yashash manzili
                                </th>
                                <th>
                                    Tugatayotgan ta'lim muassasi
                                </th>
                                <th>
                                    Topshirgan OTM nomi
                                </th>
                                <th>Kun/Oy/Yil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in all_list %}
                                {% if i.maktabbitiruvchisi.otm_name == None or i.kollejbitiruvchisi.otm_name == None%}
                                
                                {% elif i.universitetbitiruvchisi %}    
                                
                                {% else %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'RE' pk=i.pk %}">{{i.f_name}}</a></td>
                                        <td>{{ i.tuman }} {{ i.mahalla }}</td>
                                        <td>{{ i.maktabbitiruvchisi.maktab }} {{ i.universitetbitiruvchisi.universitet }} {{ i.kollejbitiruvchisi.kollej }}</td>
                                        <td>{{ i.kollejbitiruvchisi.otm_name }}{{ i.maktabbitiruvchisi.otm_name }}</td>
                                        <td>{{ i.t_sana }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#OTM_T_Export").click(function(){
                $(".table").table2excel({
                    exclude: ".noExl",
                    name: "filterlangan barcha talabalar",
                    filename: `OTM__topshirganlar__ro'yhati__${new Date()}`,
                    fileext: ".xlsx",
                    exclude_links: true,
                    sheetName: "Open Data "
                });
            });
        });
    </script>
{% endblock %}
