{% extends 'main.html' %}
{% load widget_tweaks %}

{% block title %}
    OTM_Finish
{% endblock %}

{% block content %}
    <div class="background-table" >
                <div class="row mt-5">
            <div class="col-10 m-auto">
                <h1 class="text-center my-3">Bitiruvchilar haqida malumotlar</h1>
                <nav class="navbar navbar-expand-lg my-5 bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-center top-nav">
                        <li class="nav-item">
                            <a href="{% url 'H' %}" class="btn btn-outline-primary">Diagrammada ko'rish</a>
                        </li>
                        <li class="nav-item ">
                            <a href="{% url 'T' %}" class="nav-link ">Hammasi</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'M' %}">Maktab</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
                        </li>
                        <li class="nav-item active-li">
                        <a class="nav-link active" href="{% url 'F' %}">OTM Bitiruvchilari</a>
                        </li>
                        <li class="nav-item">
                        <a href="{% url 'E' %}" class="nav-link">OTMga topshirganlar</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="{% url 'I' %}" class="nav-link">Ish bilan taminlanganlar</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a href="{% url 'O' %}" class="nav-link">
                                Boshqalar
                            </a>
                        </li> -->
                    </ul>
                    </div>
                </nav>
                <div class="my-4 p-3 bg-shadow-a bg-light">
                    <form action="" method="get" novalidate>
                        <label for="id_tuman" class="mx-3">Tuman&Shahar</label>
                        {{ mkFil.form.tuman|add_class:"btn btn-outline-secondary btn-sm" }}
                        <label for="id_mahalla" class="mx-3">Mahalla</label>
                        {{ mkFil.form.mahalla|add_class:"btn btn-outline-secondary btn-sm" }} {% comment %}|attr:"mahalla-queries-url:{% url 'ALM' %}" |attr:"maktab-queries-url:{% url 'ALMa' %}" {% endcomment %}
                        <!-- <label for="id_universitet" class="mx-3">Universitet №</label> -->
                        {{ mkFil.form.universitet|add_class:"btn btn-outline-secondary btn-sm"}}
                        <input type="submit" value="Qidirish" class="mx-3 btn btn-outline-dark text- btn-sm">
                    </form>
                </div>
                <div class="table-box">
                    <table class="table">
                        <thead class="border-info">
                            <tr>
                            <th>#</th>
                            <th>F.I.SH</th>
                            <th>
                                Tuman & Shaxar
                            </th>
                            <th>
                                Mahalalar
                            </th>
                                <!-- <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Maktablar №
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">26-maktab</a></li>
                                        </ul>
                                    </div>
                                </th> -->
                                <!-- <th>
                                    <div class="btn-group">
                                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Kollej №
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Qibray moliya-iqtisodiyot kolleji</a></li>
                                        </ul>
                                    </div>
                                </th> -->
                                <th>
                                    OTM nomi
                                </th>
                                <!-- <th>Ish Joyi</th> -->
                                <th>Telefon raqam</th>
                                <th>Kun/Oy/Yil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in un %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'RUT' pk=i.pk %}">{{ i.f_name }}</a></td>
                                    <td>{{ i.tuman }}</td>
                                    <td>{{ i.mahalla }}</td>
                                    <!-- <td></td> -->
                                    <!-- <td></td> -->
                                    <td>{{ i.universitet }}</td>
                                    <!-- <td>O’zbekiston milliy universiteti</td>
                                    <td></td> -->
                                    <td>{{ i.phone }}</td>
                                    <td>{{ i.t_sana }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_tuman").change(function(){
            $("#id_mahalla").attr("mahalla-queries-url", "{% url 'ALM' %}");
            const url = $("#id_mahalla").attr("mahalla-queries-url");
            const tumanID = $(this).val();

            $.ajax({
                url:url,
                data:{
                    'tuman_id':tumanID,
                },
                success: function(data){
                    $("#id_mahalla").html(data);
                },
            });
        })
    </script>
{% endblock %}
