{% extends 'main.html' %}

{% block title %}
    OTM_Enter
{% endblock %}

{% block content %}
    <div class="background-table" >
        <div class="row mt-5">
            <div class="col-10 m-auto">
                {% include 'widgets/navbar.html' %}                
                <div class="table-box">
                    <table class="table">
                        <thead class="border-info">
                            <tr>
                                <th>#</th>
                                <th>F.I.SH</th>
                                <th>
                                    Tuman & Shaxar
                                </th>
                                <th>
                                    Mahalalar
                                </th>
                                <th>
                                    Maktablar №
                                </th>
                                <th>
                                    Kollej №
                                </th>
                                <th>
                                    Topshirgan OTM nomi
                                </th>
                                <th>Telefon raqam</th>
                                <th>Kun/Oy/Yil</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in all_list %}                              
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'RMT' pk=i.pk %}">{{i.f_name}}</a></td>
                                    <td>{{ i.tuman }}</td>
                                    <td>{{ i.mahalla }}</td>
                                    <td>{{ i.maktab }}</td>
                                    <td>{{ i.kollej }}</td>
                                    <td>{{ i.univer_sity }}</td>
                                    <td>(+998) {{ i.phone }}</td>
                                    <td>{{ i.t_sana }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
