{% extends 'main.html' %}
{% load static %}
{% block title %}
    Tumanlar
{% endblock %}
{% block content %}
    <div class="background">
        {% include "../widgets/sidebar.html" %}
        <div class="main">
            <div class="chart">
                <h1>Bu yilgi bitiruvchilar {{ d.name }} misolida</h1>
                <img src="{% static 'images/chartTuman.png' %}" alt="">
            </div>
            <div class="tumanlar">
                <h1>{{ d }}dagi barcha ta'lim muassasalari</h1>
                <ul id="tuman">
                    {% for i in maktab %}  
                        <li><a href="{% url 'S' pk=i.pk %}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
