{% extends 'main.html' %}
{% load static %}
{% block title %}
    Tumanlar
{% endblock %}
{% block content %}
    <div class="background">
        {% include "../widgets/sidebar.html" %}
        <div class="main">
            <ul class="fl-top">
                <li class="">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle w-100 rounded-0 border-dark border-top-0 border-start-0 border-end-0" href="{% url 'AD' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tuman va Shahar
                        </a>
                        <ol class="dropdown-menu w-100">
                            {% for i in all_d %}
                            <li><a class="dropdown-item a-link" href="{% url 'D' pk=i.pk %}">{{ i.name }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle w-100 rounded-0 border-0" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Maktablar
                        </a>
                        <ol class="dropdown-menu w-100">
                            {% for i in maktab %}
                            <li><a class="dropdown-item a-link" href="{% url 'S' pk=i.pk %}">{{ i }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </li>        
                <li>
                    <a href="{% url 'AKB' pk=d.pk %}" style="padding: 7px 0;" class="btn rounded-0 w-100 border-0">kollej</a>
                </li>        
                <li>
                    <a href="{% url 'AOB' pk=d.pk %}" style="padding: 7px 0;" class="btn rounded-0 w-100 border-0">OTM</a>
                </li>        
            </ul>
            <div class="chart mt-5">
                <h1>Bu yilgi bitiruvchilar {{ d }} misolida</h1>
                <canvas id="tumanChart"></canvas>
            </div>
            <br>
            <div class="jadval my-5">
                <table class="table table-gray ">
                    <thead class="table-dark">
                        <tr>
                            <th>№</th>
                            <th>F.I.SH</th>
                            <th>Yashash manzili</th>
                            <th>Ta'lim Muassasasi nomi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in all_btr %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="">{{ i.f_name }}</a></td>
                                <td>{{ i.tuman }} {{ i.mahalla }}</td>
                                {% if i.maktabbitiruvchisi %}
                                    <td> {{ i.maktabbitiruvchisi.maktab }}</td>
                                {% elif i.kollejbitiruvchisi.kollej %}
                                    <td> {{ i.kollejbitiruvchisi.kollej }}</td>
                                {% elif i.kollejbitiruvchisi.kolleJ %}
                                    <td> {{ i.kollejbitiruvchisi.kolleJ }}</td>
                                {% elif i.universitetbitiruvchisi.universitet %}    
                                    <td> {{ i.universitetbitiruvchisi.universitet }}</td>    
                                {% else %}
                                <td> {{ i.universitetbitiruvchisi.universiteT }}</td>    
                                {% endif %}    
                            </tr> 
                        {% empty %}
                            <tr>
                                <th>Hozirda talabalar yoq! Malumotlarni to'ldirish kerak <a href="{% url 'MBA' %}">link</a></th>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div class="tumanlar">
                <h1>{{ d }}dagi barcha ta'lim muassasalari</h1>
                <div class="input-group">
                    <select name="maktablar" id="maktablar" class="form-select">
                        <option value="" selected>--------------</option>
                        {% for i in maktab %}
                            <option value="{{ i.pk }}"><a href="{% url 'S' pk=i.pk %}">{{ i }}</a></option>  
                        {% endfor %}
                    </select>
                    <select name="profT" id="profT" class="form-select">
                        {% for i in maktab %}
                            <option value="{{ i.pk }}"><a href="{% url 'S' pk=i.pk %}">{{ i }}</a></option>  
                        {% endfor %}
                    </select>
                    <a href="{% url 'AOB' pk=d.pk %}" class="btn btn-outline-secondary">OTM</a>
                </div>
                <ul id="tuman">
                    {% comment %} 
                        {% for i in maktab %}
                        <li><a href="{% url 'S' pk=i.pk %}">{{ i }}</a></li>
                        {% endfor %}
                    {% endcomment %}
                    <li><a href="{% url 'AKB' pk=d.pk %}">Professional ta'lim</a></li>
                    <li><a href="{% url 'AOB' pk=d.pk %}">OTM</a></li>
                    
                </ul>
            </div> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script>
        const tuman = document.getElementById("tumanChart").getContext("2d");
        const tumanChart = new Chart(tuman, {
            type: 'bar',
            data: {
                labels : ['OTM bitiruvchilari', 'Professional ta\'lim bitiruvchilari', 'Maktab bitiruvchilari'],
                datasets : [{
                    label: '',
                    data: ['{{ unb }}', '{{ kjb }}', '{{ mkb }}'],
                    backgroundColor: [
                        'rgba(5, 140, 145, 0.47)',
                        'rgba(9, 57, 142, 0.45)',
                        'rgba(8, 140, 78, 0.5)',
                    ],
                    // borderColor: [
                    //     'rgba(5, 140, 145, 1)',
                    //     'rgba(9, 57, 142, 1)',
                    //     'rgba(8, 140, 78, 1)',
                    // ],
                    // borderWidth: 1,
                    hoverOffset: 10,
                }]
            },
            options: {
                scales:{
                    y:{
                        beginAtZone :true
                    }
                }
            }
        })
    </script>
{% endblock %}
