{% extends "main.html" %}

{% block content %}

<div class="container my-3">
    <a href="{% url 'S' %}" class="btn btn-outline-info">Ortga qaytish</a>
</div>
<div class="row">
            <div class="col-xxl-5 m-auto p-5 border border-info">
                <div class="img-name">
                    <div class="img border-end border-info pt-3">
                        <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW4lMjBmYWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="100" height="150" alt="">
                        <div class="my-5"></div>
                        <div class="imkonyat">
                            <h3>Imkonyatlari</h3>
                            <ul>
                                <li>Masulyatli</li>
                                <li>Tez Chiqishadi</li>
                                <li>MicrosoftWord</li>
                                <li>MicrosoftExel</li>
                            </ul>
                            <h3>Chet tillari</h3>
                            <ul>
<!--                                <li>Ingiliz tili</li>-->
                                <li>Rus tili</li>
                            </ul>
                            <h3>Haydovchilik Guvohnoma</h3>
                            <ul>
                                <li>Bor</li>
                            </ul>
                            <h3>Biznes G'oya</h3>
                            <ul>
                                <li>Yoq</li>
                            </ul>
                        </div>
                    </div>
                    <div class="name">
                        <div class="user-name">
                            <h1 class="ism">Dilshod Bekzodov</h1>
                        </div>
                        <div class="data">
                            <table>
                                <tr>
                                    <th>Email: </th>
                                    <td>dilshod04@gmail.com</td>
                                </tr>
                                <tr>
                                    <th>Tug'ulgan sana: </th>
                                    <td>2004/24/04</td>
                                </tr>
                                <tr>
                                    <th>Telefon raqami:</th>
                                    <td>(+998) 98 046-56-56</td>
                                </tr>
                                <tr>
                                    <th>Yashash manzili: </th>
                                    <td> Nurafshon shaxar Uchqun MFY</td>
                                </tr> 
                            </table>
                            <div class="my-5"></div>
                            <div class="info-data">
                                <h3 class="">
                                    Ta'lim
                                </h3>
                                <p>
                                    Toshkent viloyati Nurafshon shaxar 9-umumiy o'rta ta'lim maktabi
                                    <small class="text-warning">2011/09/3 --- 2020/05/25</small>
                                </p>
                                <p>
                                   	O‘rta CHirchiq axborot texnologiyalari va servis kasb-hunar kolleji
                                    <small class="text-warning">2020/09/3 --- 2022/05/25</small>
                                </p>
                                <h3>Maqsadi</h3>
                                <p>
                                    Universitetga topshirmagan
                                </p>
                                <h3>Qiziqishlari</h3>
                                <ul>
<!--                                    <li>Kompyuterlar yig'ish</li>-->
                                    <li>Dasturchilik</li>
                                    <li>Biznes boshlash</li>
                                </ul>
                                <h3>Ish joyi</h3>
                                <p>
                                    Artel MCHJ da muxandiz lavozimida
                                </p>
                                <h3>Fuqoro xaqida</h3>
                                <p>
                                   	Dilshod Bekzodov Toshkent vilotati Nurafshon shaxarda tug'ulgan.
                                    O‘rta CHirchiq axborot texnologiyalari va servis kasb-hunar kolleji bituruvchisi.  O'zini biznes g'oyasi Yoq
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}








