<div id="sidebar">
    <div id="bar">
        <ul>
            <li>
                <a href="{% url 'H' %}" class="a-link ">Bosh sahifa</a>
            </li>
            <li>
                <a href="{% url 'AD' %}" class="a-link active-sidebar">Tumanlar</a>
            </li>
            <!-- {% if all_d %}
                <li>
                    <ol class="tm">
                        {% for i in all_d %}
                            <li><a href="{% url 'D' pk=i.pk %}" class="text-info">{{ i }}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %} -->
            <li>
                <a href="{% url 'DA' %}" class="a-link">Ma'lumot qo'shish</a>
            </li>
            <li>
                <a href="{% url 'T' %}" class="a-link">Jadvallarda ko'rish</a>
            </li>
            <li>
                <a href="{% url 'users:LO' %}" class="a-link border border-danger text-danger">Accountdan chiqish</a>
            </li>
        </ul>
    </div>
</div>
