<thead class="border-info">
    <tr>
    <th>#</th>
    <th>F.I.SH</th>
        <th>
            Tuman & Shaxar
            <!-- <div class="btn-group">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Nurafshon sh</a></li>
                </ul>
            </div> -->
        </th>
        <th>
            Mahalalar
        </th>
        <th>
            Maktablar №
        </th>
        <th>
            Kollej №
        </th>
        <th>
            OTM nomi
        </th>
        <!-- <th>Ish Joyi</th> -->
        <th>Telefon raqam</th>
        <th>Kun/Oy/Yil</th>
    </tr>
</thead>