{% extends 'main.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="background data-bg">
        {% include 'widgets/sidebar.html' %}
        <div class="main">
            <div class="chart">
                <h1>Bu yilgi bitiruvchilar raqamlarda</h1>
                <img src="{% static 'images/chart.png' %}" alt="">
            </div>
            <!-- <div class="tumanlar">
                <h1>Toshkent vilotatini barcha tumanlar</h1>
                <ul id="tuman">
                    {% for i in all_tumanlar %}
                        <li><a href="{% url 'D' pk=i.pk %}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div> -->
        </div>
    </div>

{% endblock %}
