{% extends 'main.html' %}
{% load widget_tweaks %}

{% block title %}
    Tables
{% endblock %}

{% block content %}
<div class="background-table" >
    <div class="row">
        <div class="col-10 m-auto">
            <h1 class="text-center my-1">Bitiruvchilar haqida malumotlar</h1>
                <nav class="navbar navbar-expand-lg my-4 bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-center top-nav">
                        <li class="nav-item">
                            <a href="{% url 'H' %}" class="btn btn-outline-primary">Diagrammada ko'rish</a>
                        </li>
                        <li class="nav-item active-li">
                            <a href="{% url 'T' %}" class="nav-link active">Hammasi</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'M' %}">Maktab</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'F' %}">OTM Bitiruvchilari</a>
                        </li>
                        <li class="nav-item">
                        <a href="{% url 'E' %}" class="nav-link">OTMga topshirganlar</a>
                        </li>
                    </ul>
                    </div>
                </nav>
                <div class="my-4 bg-shadow-a bg-light">
                    <form action="" method="get" novalidate class="indexFilter">
                        <div class="input-group input-group-sm">
                            <label for="id_tuman" class="input-group-text">Tuman&Shahar</label>
                            {{ mkFil.form.tuman|add_class:"form-select" }}
                            <label for="id_mahalla" class="input-group-text ms-3">Mahalla</label>
                            {{ mkFil.form.mahalla|add_class:"form-select" }}
                            <label for="id_maktabbitiruvchisi__maktab" class="input-group-text ms-3">Maktab №</label>
                            {{ mkFil.form.maktabbitiruvchisi__maktab|add_class:"form-select"}}
                            <label for="id_maktabbitiruvchisi__sinf" class="input-group-text ms-3">Sinf №</label>
                            {{ mkFil.form.maktabbitiruvchisi__sinf|add_class:"form-select"}} <br><br>
                            <label for="id_kollejbitiruvchisi__kollej" class="input-group-text ms-3">Kollej №</label>
                            {{ mkFil.form.kollejbitiruvchisi__kollej|add_class:"form-select"}}
                            <label for="id_universitetbitiruvchisi__universitet" class="input-group-text ms-3">OTM №</label>
                            {{ mkFil.form.universitetbitiruvchisi__universitet|add_class:"form-select"}}
                            <input type="submit" value="Qidirish" class="mx-3 btn btn-outline-dark  btn-sm">
                        </div>
                    </form>
                </div>
            <div class="table-box">
                <table class="table"> 
                    {% include "widgets/table_header.html" %}
                    <tbody>
                        {% for i in all_students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'RE' pk=i.pk %}">{{ i.f_name }}</a></td>
                                <td>{{ i.tuman }} {{ i.mahalla }}</td>
                                <td>{{ i.maktabbitiruvchisi.maktab }}</td>
                                {% if  i.kollejbitiruvchisi.kolleJ %}
                                    <td>{{ i.kollejbitiruvchisi.kolleJ }}</td>
                                {% else %}
                                    <td>{{ i.kollejbitiruvchisi.kollej }}</td>
                                {% endif %}
                                {% if i.universitetbitiruvchisi.universitet %}
                                    <td>{{ i.universitetbitiruvchisi.universitet }}</td>  
                                {% else %}
                                    <td>{{ i.universitetbitiruvchisi.universiteT }}</td>  
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
