{% extends 'main.html' %}

{% block title %}
    Tables
{% endblock %}

{% block content %}
<div class="background-table" >
    <div class="row mt-5">
        <div class="col-10 m-auto">
            <h1 class="text-center my-3">Bitiruvchilar haqida malumotlar</h1>
                <nav class="navbar navbar-expand-lg my-5 bg-light"> 
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-center top-nav">
                        <li class="nav-item">
                            <a href="{% url 'H' %}" class="btn btn-outline-primary">Diagrammada ko'rish</a>
                        </li>
                        <li class="nav-item active-li">
                            <a href="{% url 'T' %}" class="nav-link active">Hammasi</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'M' %}">Matab</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'F' %}">OTM Bitiruvchilari</a>
                        </li>
                        <li class="nav-item">
                        <a href="{% url 'E' %}" class="nav-link">OTMga topshirganlar</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="{% url 'I' %}" class="nav-link">Ish bilan taminlanganlar</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a href="{% url 'O' %}" class="nav-link">
                                Boshqalar        
                            </a>
                        </li> -->
                    </ul>
                    </div>
                </nav>              
            <div class="table-box">
                <table class="table">
                    {% include "widgets/table_header.html" %}
                    <tbody>
                        {% for i in mk %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'RMT' pk=i.pk %}">{{ i.f_name }}</a></td>
                                <td>{{ i.tuman }}</td>
                                <td>{{ i.mahalla }}</td>
                                <td>{{ i.maktab }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.t_sana }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in kj %}
                            <tr>
                                <td>{{ i.pk }}</td>
                                <td><a href="{% url 'RKT' pk=i.pk %}">{{ i.f_name }}</a></td>
                                <td>{{ i.tuman }}</td>
                                <td>{{ i.mahalla }}</td>
                                <td></td>
                                <td>{{ i.kollej }}</td>
                                <td></td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.t_sana }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in un %}
                            <tr>
                                <td>{{ i.pk }}</td>
                                <td><a href="{% url 'RUT' pk=i.pk %}">{{ i.f_name }}</a></td>
                                <td>{{ i.tuman }}</td>
                                <td>{{ i.mahalla }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ i.universitet }}</td>
                                <!-- <td>O’zbekiston milliy universiteti</td>
                                <td></td> -->
                                <td>{{ i.phone }}</td>
                                <td>{{ i.t_sana }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>       
        </div>
    </div>
    </div>
{% endblock %}
