{% extends 'main.html' %}
{% load static %}
{% block title %}
    Schools
{% endblock %}
{% block content %}
    <div class="background">
        <div id="sidebar">
            <div id="bar">
                <ul>
                    <li>
                        <a href="{% url 'H' %}">Bosh sahifa</a>
                    </li>
                    <li>
                        <a href="#tuman" class="active-sidebar text-dark">Tumanlar</a>
                    </li>
                    <li>
                        <ol class="tm">
                            <li><a href="{% url 'D' %}" class="text-dark">Angeren sh</a></li>
                            <li><a href="#">Nurafshon sh</a></li>
                            <li><a href="#">Ohangoron sh</a></li>
                            <li><a href="#">Piskent tuman</a></li>
                            <li><a href="#">Bo'ka tuman</a></li>
                            <li><a href="#">Olmaliq sh</a></li>
                            <li><a href="#">Bekobod sh</a></li>
                            <li><a href="#">O'rta chirchiq tuman</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="{% url 'T' %}">Jadvallarda ko'rish</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="chart">
                <h1>Bu yilgi bitiruvchilar raqamlarda</h1>
                <img src="{% static 'images/maktabchart.png' %}" height="500" alt="">
            </div>
            <div class="jadval my-5">
                <table class="table table-gray ">
                    <thead class="table-dark">
                        <tr>
                            <th>№</th>
                            <th>F.I.SH</th>
                            <th>Telefon raqami</th>
                            <th>Yashash manzili</th>
                            <th>Topshirgan OTM nomi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in list %}
                            <tr>
                                <td>1</td>
                                <td><a href="{% url 'ACV_' %}">Akmal Azamov</a></td>
                                <td>(+998) 33 235-45-45</td>
                                <td>Bobur MFY</td>
                                <td>O’zbekiston milliy universiteti</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="{% url 'DCV_' %}">Dilshod Bekzodov</a></td>
                                <td>(+998) 88 235-56-45</td>
                                <td>Bobur MFY</td>
                                <td>O’zbekiston milliy universiteti</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="{% url 'JCV_' %}">Jasur Umarov</a></td>
                                <td>(+998) 33 235-17-56</td>
                                <td>Uchqun MFY</td>
                                <td>O’zbekiston milliy universiteti</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="{% url 'BeCV_' %}">Bekzod Umarov</a></td>
                                <td>(+998) 99 456-56-45</td>
                                <td>Uchqun MFY</td>
                                <td>O’zbekiston milliy universiteti</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tumanlar">
                <h1>Tumandagi barcha ta'lim muassasalari</h1>
                <ul id="tuman">
                    <li><a href="#">26-umumiy o'rta ta'lim maktabi </a></li>
                    <li><a href="#">27-umumiy o'rta ta'lim maktabi </a></li>
                    <li><a href="#">49-umumiy o'rta ta'lim maktabi </a></li>
                    <li><a href="#">Angren kimyo sanoati kasb-hunar kolleji</a></li>
                    <li><a href="#">Angren ko‘mir sanoati kasb-hunar kolleji</a></li>
                    <li><a href="#">Angren avtomatika va servis kasb-hunar kolleji (Angren sanoat va xizmat ko‘rsatish KXK)</a></li>
                    <li><a href="#">Angren iqtisodiyot va tadbirkorlik kasb-hunar kolleji (Angren xizmat ko‘rsatish KXK)</a></li>
                    <li><a href="#">Angren politexnika kasb-hunar kolleji</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
