{% extends 'main.html' %}
{% load static %}
{% block title %}
    {{ mk }}
{% endblock %}
{% block content %}
    <div class="background">
        {% include "../../widgets/sidebar.html" %}
        <div class="main">
            <div class="chart">
                <h1>Bu yilgi {{ mk }} bitiruvchilar misolida</h1>
                <img src="{% static 'images/maktabchart.png' %}" height="500" alt="">
            </div>
            <div class="jadval my-5">
                <table class="table table-gray ">
                    <thead class="table-dark">
                        <tr>
                            <th>№</th>
                            <th>F.I.SH</th>
                            <th>Telefon raqami</th>
                            <th>Yashash manzili</th>
                            <th>Topshirgan OTM nomi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in student %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="">{{ i.f_name }}</a></td>
                                <td>(+998) {{ i.phone }}</td>
                                <td>{{ i.mahalla }}</td>
                                <td>O’zbekiston milliy universiteti</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <th>Hozirda talabalar yoq! Malumotlarni to'ldirish kerak <a href="{% url 'MBA' %}">link</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tumanlar">
                <h1>Barcha ta'lim muassasalari</h1>
                <ul id="tuman">
                    {% for i in all_mk %}
                        <li><a href="#">{{ i }}</a></li>
                    {% endfor %}
                    {% for i in all_kj %}
                        <li><a href="#">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
